{% extends "base.html" %}

{% block lab %}Пользователи{% endblock %}

{% block main %}
<h1>Список пользователей</h1>

<p>Вы вошли как: <strong>{{ current_login }}</strong></p>

<ul>
    {% for u in users %}
        <li>{{ u.name }} ({{ u.login }})</li>
    {% endfor %}
</ul>

<form action="/lab4/users/delete" method="post" style="margin-top: 10px;">
    <button type="submit" style="background-color: lightcoral;">Удалить себя</button>
</form>

<a href="/lab4/users/edit" style="display:inline-block; margin-top:10px;">Редактировать свои данные</a>

<form action="/lab4/logout" method="post" style="margin-top: 10px;">
    <button>Выйти</button>
</form>
{% endblock %}
