<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Список книг</title>
</head>
<body>
    <h1>Список книг</h1>
    <p>Всего книг: {{ books|length }}</p>
    <table border="1" cellpadding="6">
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Автор</th>
            <th>Жанр</th>
            <th>Страницы</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.genre }}</td>
            <td>{{ book.pages }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
