body {
    margin: 0;
    padding: 20px;
    font-family: "Times New Roman", serif;
}

.top-bar {
    background-color: lightgray;
    padding: 6px 12px;
    font-size: 14px;
}

h1 {
    margin-top: 20px;
}

.menu {
    background-color: lightblue;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.menu a {
    background-color: white;
    border: 1px solid #a1a1a1;
    padding: 6px 14px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 0.2s;
}

.menu a:hover {
    background-color: #d9f0f9;
}

.username {
    margin-left: auto;
    font-weight: 600;
}