{% extends "base.html" %}

{% block lab %}Лабораторная работа 7{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='lab7/main.js') }}"></script>
<style>
.modal {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 420px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}
.error-message {
    color: red;
}
table {
    border-collapse: collapse;
    width: 700px;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #555;
    padding: 8px 10px;
}

table th {
    background: #e6e6e6;
}
button {
    padding: 6px 12px;
    margin-right: 5px;
    border: none;
    background: #0077ff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #005fcc;
}

button.delete {
    background: #cc2f2f;
}
button.delete:hover {
    background: #a32020;
}
</style>
{% endblock %}

{% block main %}
    <h1>Список фильмов</h1>

    <table>
        <thead>
            <tr>
                <th colspan="2">Название</th>
                <th>Год</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody id="film-list"></tbody>
    </table>

    <script>
        fillFilmList();
    </script>

    <div>
        <button onclick="addFilm()">Добавить фильм</button>
    </div>

    <div class="modal">
        <input type="hidden" id="id">
        <label>
            Название фильма на русском:
            <input type="text" id="title-ru">
        </label><br>

        <label>
            Название фильма на оригинальном языке
            <i>(если фильм русский, то оставьте пустым):</i>
            <input type="text" id="title">
        </label><br>

        <label>
            Год выпуска:
            <input type="number" id="year">
        </label><br>

        <label>
            Описание:
            <textarea id="description"></textarea>
            <div id="description-error" class="error-message"></div>
        </label><br>
        <span id="description-error" style="color: red;"></span><br>

        <button onclick="sendFilm()">ОК</button>
        <button onclick="cancel()">Отмена</button>
    </div>
{% endblock %}
