{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='lab8/lab8.css') }}">
{% endblock %}
{% block favicon %}
<link rel="icon" href="{{ url_for('static', filename='lab8/favicon.ico') }}">
{% endblock %}

{% block main %}
<h1>Редактировать статью</h1>

{% if error %}
<div class="error">{{ error }}</div>
{% endif %}

<form method="post" class="form-card">
    <div>
        <label>Заголовок</label>
        <input type="text" name="title" value="{{ article.title }}">
    </div>

    <div>
        <label>Текст статьи</label>
        <textarea name="article_text" rows="10">{{ article.article_text }}</textarea>
    </div>

    <button type="submit">Сохранить</button>
</form>

<p><a href="/lab8/articles/">Назад к списку</a></p>
{% endblock %}
