<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>База знаний</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lab8/lab8.css') }}">
</head>
<body>

<header class="header">
    <div class="header-title">База знаний</div>

    <div class="header-menu">
        <a href="/lab8/articles" class="btn">Список статей</a>
        <a href="/lab8/create" class="btn">Создать статью</a>
        <a href="/lab8/login" class="btn">Войти</a>
        <a href="/lab8/register" class="btn">Регистрация</a>
    </div>

    <div class="header-user">Anonymous</div>
</header>

</body>
</html>
