{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='lab8/lab8.css') }}">
{% endblock %}
{% block favicon %}
<link rel="icon" href="{{ url_for('static', filename='lab8/favicon.ico') }}">
{% endblock %}

{% block main %}
<h1>Публичные статьи</h1>

<div class="articles-actions">
    <a href="/lab8/" class="back-btn">← Вернуться к базе</a>
</div>

{% if articles|length == 0 %}
<p>Публичных статей пока нет.</p>
{% else %}
<table>
    <tr>
        <th>ID</th>
        <th>Заголовок</th>
    </tr>
    {% for a in articles %}
    <tr>
        <td>{{ a.id }}</td>
        <td>{{ a.title }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}
